In [23]:
import sqlite3

In [24]:
import csv

In [25]:
con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

In [ ]:
!pip uninstall pandas

In [27]:
!pip uninstall ipython-sql && pip install ipython-sql
%load_ext sql

Requirement already satisfied: ipython-sql in c:\users\jacob\appdata\roaming\python\python39\site-packages (0.5.0)The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Requirement already satisfied: prettytable in c:\users\jacob\appdata\roaming\python\python39\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in c:\users\jacob\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\jacob\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jacob\appdata\roaming\python\python39\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: exceptiongroup in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: colorama in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\jacob\appdata\local\programs\python\python39\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)

In [28]:
%sql sqlite:///RealWorldData.db

In [30]:
import pandas

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi", chunksize=100)

566

In [33]:
%sql select name from sqlite_master where type = 'table'

 * sqlite:///RealWorldData.db
Done.

[('CHICAGO_PUBLIC_SCHOOLS_DATA',)]

In [34]:
%sql select count(name) from pragma_table_info('CHICAGO_PUBLIC_SCHOOLS_DATA')

 * sqlite:///RealWorldData.db
Done.

[(78,)]

In [36]:
%sql SELECT name,type,length(name),length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

 * sqlite:///RealWorldData.db
Done.

[('School_ID', 'INTEGER', 9, 7),
 ('NAME_OF_SCHOOL', 'TEXT', 14, 4),
 ('Elementary, Middle, or High School', 'TEXT', 34, 4),
 ('Street_Address', 'TEXT', 14, 4),
 ('City', 'TEXT', 4, 4),
 ('State', 'TEXT', 5, 4),
 ('ZIP_Code', 'INTEGER', 8, 7),
 ('Phone_Number', 'TEXT', 12, 4),
 ('Link', 'TEXT', 4, 4),
 ('Network_Manager', 'TEXT', 15, 4),
 ('Collaborative_Name', 'TEXT', 18, 4),
 ('Adequate_Yearly_Progress_Made_', 'TEXT', 30, 4),
 ('Track_Schedule', 'TEXT', 14, 4),
 ('CPS_Performance_Policy_Status', 'TEXT', 29, 4),
 ('CPS_Performance_Policy_Level', 'TEXT', 28, 4),
 ('HEALTHY_SCHOOL_CERTIFIED', 'TEXT', 24, 4),
 ('Safety_Icon', 'TEXT', 11, 4),
 ('SAFETY_SCORE', 'REAL', 12, 4),
 ('Family_Involvement_Icon', 'TEXT', 23, 4),
 ('Family_Involvement_Score', 'TEXT', 24, 4),
 ('Environment_Icon', 'TEXT', 16, 4),
 ('Environment_Score', 'REAL', 17, 4),
 ('Instruction_Icon', 'TEXT', 16, 4),
 ('Instruction_Score', 'REAL', 17, 4),
 ('Leaders_Icon', 'TEXT', 12, 4),
 ('Leaders_Score', 'TEXT', 13, 4),
 ('Teachers_Icon', 'TEXT', 13, 4),
 ('Teachers_Score', 'TEXT', 14, 4),
 ('Parent_Engagement_Icon', 'TEXT', 22, 4),
 ('Parent_Engagement_Score', 'TEXT', 23, 4),
 ('Parent_Environment_Icon', 'TEXT', 23, 4),
 ('Parent_Environment_Score', 'TEXT', 24, 4),
 ('AVERAGE_STUDENT_ATTENDANCE', 'TEXT', 26, 4),
 ('Rate_of_Misconducts__per_100_students_', 'REAL', 38, 4),
 ('Average_Teacher_Attendance', 'TEXT', 26, 4),
 ('Individualized_Education_Program_Compliance_Rate', 'TEXT', 48, 4),
 ('Pk_2_Literacy__', 'TEXT', 15, 4),
 ('Pk_2_Math__', 'TEXT', 11, 4),
 ('Gr3_5_Grade_Level_Math__', 'TEXT', 24, 4),
 ('Gr3_5_Grade_Level_Read__', 'TEXT', 24, 4),
 ('Gr3_5_Keep_Pace_Read__', 'TEXT', 22, 4),
 ('Gr3_5_Keep_Pace_Math__', 'TEXT', 22, 4),
 ('Gr6_8_Grade_Level_Math__', 'TEXT', 24, 4),
 ('Gr6_8_Grade_Level_Read__', 'TEXT', 24, 4),
 ('Gr6_8_Keep_Pace_Math_', 'TEXT', 21, 4),
 ('Gr6_8_Keep_Pace_Read__', 'TEXT', 22, 4),
 ('Gr_8_Explore_Math__', 'TEXT', 19, 4),
 ('Gr_8_Explore_Read__', 'TEXT', 19, 4),
 ('ISAT_Exceeding_Math__', 'REAL', 21, 4),
 ('ISAT_Exceeding_Reading__', 'REAL', 24, 4),
 ('ISAT_Value_Add_Math', 'REAL', 19, 4),
 ('ISAT_Value_Add_Read', 'REAL', 19, 4),
 ('ISAT_Value_Add_Color_Math', 'TEXT', 25, 4),
 ('ISAT_Value_Add_Color_Read', 'TEXT', 25, 4),
 ('Students_Taking__Algebra__', 'TEXT', 26, 4),
 ('Students_Passing__Algebra__', 'TEXT', 27, 4),
 ('9th Grade EXPLORE (2009)', 'TEXT', 24, 4),
 ('9th Grade EXPLORE (2010)', 'TEXT', 24, 4),
 ('10th Grade PLAN (2009)', 'TEXT', 22, 4),
 ('10th Grade PLAN (2010)', 'TEXT', 22, 4),
 ('Net_Change_EXPLORE_and_PLAN', 'TEXT', 27, 4),
 ('11th Grade Average ACT (2011)', 'TEXT', 29, 4),
 ('Net_Change_PLAN_and_ACT', 'TEXT', 23, 4),
 ('College_Eligibility__', 'TEXT', 21, 4),
 ('Graduation_Rate__', 'TEXT', 17, 4),
 ('College_Enrollment_Rate__', 'TEXT', 25, 4),
 ('COLLEGE_ENROLLMENT', 'INTEGER', 18, 7),
 ('General_Services_Route', 'INTEGER', 22, 7),
 ('Freshman_on_Track_Rate__', 'TEXT', 24, 4),
 ('X_COORDINATE', 'REAL', 12, 4),
 ('Y_COORDINATE', 'REAL', 12, 4),
 ('Latitude', 'REAL', 8, 4),
 ('Longitude', 'REAL', 9, 4),
 ('COMMUNITY_AREA_NUMBER', 'INTEGER', 21, 7),
 ('COMMUNITY_AREA_NAME', 'TEXT', 19, 4),
 ('Ward', 'INTEGER', 4, 7),
 ('Police_District', 'INTEGER', 15, 7),
 ('Location', 'TEXT', 8, 4)]